$headerHeight: 51px;
$headerSidebarWidth: 200px;

main { padding-top: $headerHeight }
.hide-header {
	main { padding-top: 0 }
	header { display: none; }
}
header {
	@include single-transition();
	background: #FFF;
	border-bottom: 1px solid #DDD;
	height: $headerHeight;
	position: fixed;
	top: 0;
	width: 100%;

	#header-sidebar {
		@include single-transition(left);
		background: #FFF;
		border-right: 1px solid #DDD;
		left: -1 * $headerSidebarWidth;
		min-height: 100%;
		position: fixed;
		top: 0;
		width: $headerSidebarWidth;


		.link {
			padding: 15px;
			a {
				@include single-transition(border-bottom);
				text-decoration: none;
				padding-bottom: 3px;
				border-bottom: 1px solid #DDD;

				&:hover, &.active { border-bottom: 2px solid #FF6600; }
			}
		}
	}
	#nav-grabber {
		@include single-transition(margin-left);
		cursor: pointer;
		margin-left: -5px;
		padding: 10px 0;
		position: relative;

		.icon {
			@extend .font-awesome;
			font-size: 20px;
		}
		.title {
			@extend .font-title;
			font-size: 13px;
			left: 30px;
			position: absolute;
			top: 15px;
		}
	}
	&.nav-up { top: -1 * $headerHeight - 5px;  }
}

body.show-header-sidebar {
	#header-sidebar { left: 0; }
	header #nav-grabber { margin-left: $headerSidebarWidth + 10px; }
}