# Phonegap files
/platforms/
/plugins
/.cordova

# Sublime files
*.sublime-project
*.sublime-workspace

# node files
/.sass-cache
/node_modules
/npm-debug.log

# Build files
www/*.html
www/*.js
www/*.css
www/*.css.map