body#auth-choose
	@extend .hide-header
	background: url(images/bg/auth-choose.jpg) center center

	#close-button
		height: 30px
		left: 10px
		position: fixed
		top: 10px
		width: 30px
	#privacy-terms, #email-options
		margin: 20px auto
	#privacy-terms
		font-size: 12px
		opacity: 0.7
		a
			border-bottom: 1px solid #FFF
	#email-options, #auth-options .button
		max-width: 280px
	#email-options
		.columns
			padding: 0
		.option
			+single-transition()
			border: 2px solid #FFF
			cursor: pointer
			font-size: 12px
			padding: 12px 20px
			text-transform: uppercase

			-webkit-border-radius: 2px
			-moz-border-radius: 2px
			border-radius: 2px

			&:hover
				background: #FFF
				color: #000
	#auth-options
		color: #FFF
		padding-top: 50px
		text-align: center

		a
			text-decoration: none
		.button
			color: #FFF
			cursor: pointer
			margin: 20px auto
			overflow: hidden
			padding: 12px 20px
			position: relative
			text-transform: uppercase

			-webkit-border-radius: 2px
			-moz-border-radius: 2px
			border-radius: 2px

			&.email
				background: #1ABC9C
			&.facebook
				background: #567CC5
			&.google-plus
				background: #DF4A32
			&.linkedin
				background: #51A7C2
			&.phone
				background: #1ABC9C
			&.twitter
				background: #00C2F3
			&.yahoo
				background: #803383

			.icon
				@extend .font-awesome
				background: rgba(0,0,0,0.05)
				font-size: 18px
				left: 0
				padding: 10px 0
				position: absolute
				text-align: center
				top: 0
				width: 50px

			.text
				font-size: 12px
				padding-left: 40px

	.auth-modal
		.close-trigger
			background: rgba(0,0,0,0.5)
			height: 100%
			left: 0
			position: fixed
			top: 0
			width: 100%
			z-index: 0
		form
			background: #FFF
			color: #000
			left: 50%
			margin-left: -125px
			position: fixed
			text-align: left
			top: 20%
			width: 250px
			z-index: 1

			-webkit-border-radius: 2px
			-moz-border-radius: 2px
			border-radius: 2px
			.text
				padding: 0 25px
			.submit
				background: #EEE
				color: #3498db
				padding: 15px
				text-transform: uppercase
				width: 100%
			p
				margin: 25px 0
			.title
				@extend .font-thin
				font-size: 18px
			input
				border-bottom: #DDD 1px solid
				outline: none
				padding: 0

				&:active, &:hover
					border-bottom-color: #3498db
				&.error
					border-bottom-color: #e74c3c