body#classified-search {
	background: #E6E6E6;
	// background: url(images/patterns/concrete_seamless.png);

	.noclassifieds-title {
		@extend .font-title;
		padding: 20px;
		text-align: center;
		font-size: 30px;
	}
	#ajax-spinner {
		height: 50px;
		margin: 0 auto;
	}
}