body#landing
  @extend .hide-header
  background: url(images/bg/landing.png) center center

  h1, h3
    text-align: center
    padding: 1px
  .tagline, img
    font-size: 16px
    margin: 0px auto
    padding: 20px
    @extend .font-title

  #landing-main
    background: #FFF
    margin: 0 auto
    padding-top: 30px
    text-align: center

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);

    .auth-form
      display: block
      margin: 20px auto
      overflow: hidden
      width: 100%
      a
        text-decoration: none
      > div
        width: auto

      .submit
        background: #2ecc71
        border: 0
        color: #FFF
        font-size: 12px
        font-weight: 700
        margin: 0
        max-width: 400px
        padding: 14px 20px
        text-transform: uppercase
        width: 100%