footer
	script(src="cordova.js")

	script(src="vendor/jquery.js")
	script(src="vendor/jquery.transition.js")
	script(src="vendor/underscore.js")
	script(src="vendor/backbone.js")
	script(src="vendor/masonry.js")
	script(src="vendor/imagesloaded.js")
	script(src="vendor/dropzone.js")
	script(src="vendor/google-maps.js")

	script(src="app.js")