footer
	script(src="cordova.js")

	script(src="vendor/jquery.js")
	script(src="vendor/jquery.transition.js")
	script(src="vendor/underscore.js")
	script(src="vendor/backbone.js")
	script(src="vendor/packery.js")

	script(src="app.js")