#auth-options
	#close-button
		img(src="images/close-button.png")
	a(href="#")
		.button.google-plus
			.icon &#xf0d5;
			.text Log In with Google+
	a(href="#")
		.button.facebook
			.icon &#xf09a;
			.text Log In with Facebook
	a(href="#")
		.button.twitter
			.icon &#xf099;
			.text Log In with Twitter
	a(href="#")
		.button.yahoo
			.icon &#xf19e;
			.text Log In with Yahoo
	a(href="#")
		.button.linkedin
			.icon &#xf0e1;
			.text Log In with LinkedIn

	div You can also use your email to

	#email-options.row
		.small-5.columns
			.option Log In
		.small-5.columns
			.option Sign Up

	#privacy-terms View our <a href=''>Privacy policy</a> and <a href=''>Terms of Use</a>

	//- .auth-modal
		.close-trigger
		form
			.text
				p
					.title Log in with Email
				p
					input(placeholder="Email")
				p
					input(placeholder="Password")
			input.submit(type='submit', value='Login')

	//- .auth-modal
		.close-trigger
		form
			.text
				p
					.title Sign up with Email
				p
					input(placeholder="Your Name")
				p
					input(placeholder="Email")
				p
					input(placeholder="Password")
			input.submit(type='submit', value='Sign up')