div.auth-title Login
form#form-login
	section
		div
			input(type="email", name="username", placeholder="email", required)#auth-username
		div
			input(type="password", name="password", placeholder="password", required)#auth-password
		div
			input(type="submit", value="Login").submit

form#form-asdevice-login
	section
		input(type='submit', value='Login as this device').submit

ul#error

div.extra-links
	| Forgot your password? Click&nbsp;
	a(href="#/auth/forgot") here
	| &nbsp;, to reset it.