.row
  #splash.columns(ng-class="{imgLoaded: true}")
    #collage(ng-style="{'background-image': 'url(images/collage.png)'}")

    img(src!="images/kme-logo-white.png",
      ng-class="{hide: !imgLoaded}")
    h1.tagline Your free local classifieds in Kuwait
    .cta
      a(href="#/classified/create"
        ng-clicks="trackEvent('Create classified')") Post your classified
      a(href="#/classified"
        ng-clicks="trackEvent('Find classified')") Find a classified
      .hide-if-loggedin
        a(ng-click="showAuth(); trackEvent('Login')") Login/Signup
      .show-if-loggedin
        a(ng-href="#/account"
          ng-clicks="trackEvent('Manage account')") Manage your Account

#featured-classifieds.row(ng-if="displayClassifiedList")
  h2 Latest Classifieds
  section(classified-interactive-list)
