.row
  #splash.columns(ng-class="{imgLoaded: true}")

    //- CTA background
    #collage

    //- Site logo
    img(src="images/kme-logo-white.png")

    //- Tagline
    h1.tagline Your free local classifieds in Kuwait

    //- CTA buttons
    .cta
      a(href="#/classified/create"
        ng-clicks="trackEvent('Create classified')") Post your classified
      a(href="#/classified"
        ng-clicks="trackEvent('Find classified')") Find a classified
      .hide-if-loggedin
        a(ng-click="showAuth(); trackEvent('Login')") Login/Signup
      .show-if-loggedin
        a(ng-href="#/account"
          ng-clicks="trackEvent('Manage account')") Manage your Account

#featured-classifieds.row(ng-if="displayClassifiedList")
  h2 Latest Classifieds
  section(classified-interactive-list)
