.row.header-section
  h4.columns(lang-html='page.cform.images.title')

  p.columns(lang-html='page.cform.images.hint1')
  //- p.columns(lang-html='page.cform.images.hint2')
  //- p.columns(lang-html='page.cform.images.hint3')
  p.columns
    b(lang-html='page.cform.images.hint4')

.row.text-center
  .columns
    button#gallery Take from Gallery
  .columns
    button#camera Take from Camera

  .columns
    ul#image-upload-preview
.row
  p.columns(lang-html='page.cform.images.hint5')