.row.header-section
  h4.columns(lang-html='page.cform.info.title')
  p.columns(lang-html='page.cform.info.hint1')
  p.columns(lang-html='page.cform.info.hint2')

.row.page-body
  .columns#title
    input(type="text", name="title", required, placeholder='Title')
    //- .medium-3.columns
    //-   label(for="right-label", lang-html='page.cform.info.label.title')
    //- .medium-9.columns.error
      small.error

  .columns#description
    textarea(name='description', required, placeholder='Description')

  .columns#website
    input(type="text", name="website", required, placeholder='Website')
    small.error