.row.header-section
  h4.columns Help people navigate to you!
  p.columns
    | Most people have a hard time finding their way to you. A visual map is an
    | amazing way to show them exactly where you are. We make sure that
    | Google maps works beautifully with your classified, even on mobile.
  p.columns
    | Choose your location by either&nbsp;
    b dragging the pointer below&nbsp;
    | or&nbsp;
    b by tapping &nbsp;
    | the location of your meeting point.
.row
  .columns
    #maps-container
      #maps-disabled-overlay Tap to enable maps
      #map-canvas
input#gmapX(name="gmapX", type="hidden")
input#gmapY(name="gmapY", type="hidden")