.row.header-section
  h4.columns(lang-html='page.cform.submit.title')
  p.columns(lang-html='page.cform.submit.hint1')
  p.disclaimer.columns(lang-html='page.cform.submit.hint2')

//- .row
  ul.columns.error-message
input.submit(type="submit", lang-value='page.cform.submit.button')