div.auth-title Forgot your password?
form
  section
    div
      input(type="email", name="email", placeholder="email", required)
    div
      input(type="submit", value="Send reset email").submit
ul#error