#mainheader
  //- #nav-grabber
    img(src="images/header/hamburger.png")
  #nav-action
    .back
      img(src="images/header/back.png")
    //- .search
      img(src="images/header/search.png")
nav#subheader
  ul.container
    li
      .button
        .icon &#xf002;
        a(href="#home") Browse classifieds
    li
      .button
        .icon &#xf067;
        a(href="#guest/post") Post a classified
    //- .link
    //-   .icon &#xf0c9;
    //-   a(href="#guest/post").active Post a classified
  //- .link
  //-   a(data-show-auth) Login/Signup
  //- .link
  //-   a(href="#account") Account
  //- .link
  //-   a(href="#auth/logout") Logout