extends ../base.jade

block vars
	- var bodyid = 'account-manage'

block content
	//- JS Template for each classified in the list
	script(id="list-template", type="text/template")
		|  <%
		|    var nothumb = "";
		|    if(!thumbnail) nothumb = "no-thumb";
		|  %>
		|  <a href="<?= site_url('classified/single/<%= id %>') ?>">
		|    <li class="<%= nothumb %>">
		|      <div class="thumb">
		|        <% if(thumbnail) { %>
		|          <img src="<?= site_url('/uploads/thumb/<%= thumbnail %>') ?>" alt="<%= title %>"/>
		|        <% } %>
		|      </div>
		|      <div class="c-info">
		|        <div class="c-title"><%= title %></div>
		|        <div>
		|          <span class="c-meta"><%= prettydate.format(daycreated) %></span>
		|        </div>
		|          <%
		|            var cls="", text="";
		|            switch(status) {
		|              case "0": text = "Awating Moderation"; cls="yellow"; break;
		|              case "1": text = "Active"; cls="green"; break;
		|              case "2": text = "Archvied"; cls="red"; break;
		|              case "3": text = "Rejected"; cls="red"; break;
		|              case "4": text = "Banned";  cls="red"; break;
		|              default: break;
		|            }
		|          %>
		|        <div class="box <%= cls %>"><%= text %></div>
		|      </div>
		|    </li>
		|  </a>