#nav-grabber
	span.icon &#xf0c9;
	span.title Menu

nav#header-sidebar
	.link
		a(href="#classified/") Browse classifieds
	.link
		a(href="#classified/post").active Post a classified
	.link
		a(href="#account") Account
	.link
		a(href="#auth/logout") Logout