extends ../base.jade

block vars
	- var bodyid = 'landing'

block content
	#landing-main
		img(src='images/kme-logo.png')

		.auth-form
			button.submit Login
			button.submit Signup

		#landing-tagline.title Browse and publish classifieds in Kuwait for free!
