extends ../base.jade

block vars
	- var bodyid = 'landing'

block content
	#landing-main
		img(src='images/kme-logo.png')

		.auth-form
			a(href="auth.login.html")
				button.submit Login
			a(href="auth.signup.html")
				button.submit Signup

		#deviceProperties
		#landing-tagline.title Browse and publish classifieds in Kuwait for free!
