#landing-main
	img(src='images/kme-logo-tagline.png')

	.auth-form
		div
			a(href="#/auth/login", data-view='auth-login')
				button.submit Login
		div
			a(href="#/auth/signup", data-view='auth-signup')
				button.submit Signup

	.auth-form
		div
			a(href="#/auth/signup", data-view='auth-signup')
				button.submit Use as this device