#landing-main
	img(src='images/kme-logo.png')

	.tagline Browse and publish classifieds in Kuwait for Free!
	.auth-form
		a(href="#/walkthrough", data-view='auth-login')
			button.submit Get started
		//- p
			a(href="#/auth/choose", data-view='auth-login')
				button.submit Post classified for free

		//- p
			a(href="#/auth/choose", data-view='auth-login')
				button.submit Manage your classifieds