ul#slideshow(data-orbit, data-options='variable_height: true; circular: false; timer: false;')
	li(data-orbit-slide)
		div
			img(src='')
			h3 Browse through classifieds

	li(data-orbit-slide)
		div
			img(src='')
			h3 Post a classified

	li(data-orbit-slide)
		div
			img(src='')
			h3 Manage your classifieds

	li(data-orbit-slide)
		div
			img(src='')
			h3 Promote your classifieds

	li(data-orbit-slide)
		div
			img(src='')
			a(href='#')
				.button Let's Begin!

//- .slide
//- 	img(src='')
//- 	.title Browse and publish classifieds in Kuwait for Free!
//- 	.description blah
//- .slide
//- 	img(src='')
//- 	.title Browse and publish classifieds in Kuwait for Free!
//- 	.description blah
//- .slide
//- 	img(src='')
//- 	.title Browse and publish classifieds in Kuwait for Free!
//- 	.description blah
