#background
#logo
  img(src='images/page-choose/logo.png')

.text-center
  ul#choose-box
    li
      a(href!="#<%= lang.href %>/guest/post") Post a classified
    li
      a(href!="#<%= lang.href %>/home") Browse classifieds
    //- li
    //-   a(href!="#<%= lang.href %>/auth/login") Manage my account
    //- li
    //-   a(href!="#<%= lang.href %>/auth/signup") Signup for an account


  h1 What would you like to do?