#mainheader
  #nav-grabber &#xf0c9;

nav#subheader
  .link
    a(href="#home/") Browse classifieds
  .link
    a(href="#classified/post").active Post a classified
  .link
    a(data-show-auth) Login/Signup
  .link
    a(href="#account") Account
  .link
    a(href="#auth/logout") Logout