#mainheader
  #nav-grabber &#xf0c9;

nav#subheader
  .container
    .link
      a(href="#home") Browse classifieds
    .link
      a(href="#guest/post").active Post a classified
  //- .link
  //-   a(data-show-auth) Login/Signup
  //- .link
  //-   a(href="#account") Account
  //- .link
  //-   a(href="#auth/logout") Logout