#background
#logo
  img(src='images/page-choose/logo.png')

  //- .tagline Browse and publish classifieds in Kuwait for Free!
.text-center
  ul#choose-box
    li
      a(href="#/en/choose") Get Started
    li
      a(href="#/ar/choose") هيا لنبدأ