ul#slideshow(data-orbit, data-options='variable_height: true; circular: false; timer: false;')
  li(data-orbit-slide)
    div
      img(src='images/walkthrough/1.jpg')
      h1 Browse through classifieds

  li(data-orbit-slide)
    div
      img(src='images/walkthrough/2.jpg')
      h1 Post a classified

  li(data-orbit-slide)
    div
      img(src='images/walkthrough/3.jpg')
      h1 Manage your classifieds

  li(data-orbit-slide)
    div
      img(src='images/walkthrough/4.jpg')
      h1 Promote your classifieds

  li(data-orbit-slide)
    div
      img(src='images/walkthrough/5.jpg')
      a(href='#/home')
        .button Let's Begin!